@tailwind base;
@tailwind components;
@tailwind utilities;



/* .center{
    display: flex;
    justify-content: center;

} */

*{
    font-family: 'Changa', sans-serif;
}

.direction{
    direction: rtl;
}

.font-fam{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

@media screen and (max-width: 445px){

.mobile-f-size{
    background-color: red;

left: 0;
    color: black;
}

.jr{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

}

@media screen and (max-width: 640px){
    .skills{
        
margin-left: 18px;
}
.progress{
height: 20px;

}
.my-margin{
    margin-top: 200px;
}



}

@media screen and (max-width: 767px){
    .my-margin{
        margin-top: 40px;
    }

    .heading-margin{
        margin-top:-160px;
        margin-left: 263px;
        font-size: 20px;
    }
}

